.footer-logo {
  max-width: 300px;
}

.footer-list {
  padding-left: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;

  li {
    list-style: none;
  }
}

.footer-flexbox {
  display: flex;
  justify-content: center;
  gap: 4rem;
  flex-wrap: wrap;
  width: 100%;

  .partner-item-sm {
    max-width: 200px;
    max-height: 100px;
    text-align: center;
    transition: 0.3s ease;
    align-self: center;

    &:hover {
      animation: hover 0.3s ease;
      transform: scale3d(1.05, 1.05, 1.05);
    }
  }
}
