/* Shared variables */
:root {
  --font-size: 16px !important;
  --spacing-hero: 5rem !important;
  --border-radius: 0.3rem !important;
  --grid-spacing-vertical: 1rem !important;
  --hgroup-text-color: #2c3d49 !important;
  --partner-card-header-color: #ffffff !important;
  --grid-spacing-horizontal: 2rem !important;
  --grid-spacing-vertical: 4rem !important;
  --card-background-color: #98aaba5f !important;
  --card-header-color: #98aaba !important;
}

/* Light theme variables */
[data-theme='light'],
:root:not([data-theme='dark']) {
  --muted-color: #a5a5a5 !important;
  --link-color: #1694c2 !important;
  --light-text: #fff !important;
  --small-card-background-color: #c2d3e4 !important;
  --small-card-text-color: #2e3b47 !important;
  --card-body-text-color: #2e3b47 !important;
}

/* Dark theme variables - automatic based on system preference */
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme='light']) {
    --muted-color: #8fa3b1 !important;
    --link-color: #71b6e7 !important;
    --light-text: #ccc !important;
    --small-card-background-color: #455b6e !important;
    --small-card-text-color: #ffffff !important;
    --card-body-text-color: #ffffff !important;
  }
}

/* Dark theme variables - forced with data attribute */
[data-theme='dark'] {
  --muted-color: #8fa3b1 !important;
  --link-color: #71b6e7 !important;
  --light-text: #ccc !important;
  --small-card-background-color: #455b6e !important;
  --small-card-text-color: #ffffff !important;
  --card-body-text-color: #ffffff !important;
}
