:root {
  --font-size: 16px !important;
  --spacing-hero: 5rem !important;
  --border-radius: 0.3rem !important;
  --muted-color: #4b555c !important;
  --link-color: #27455a !important;
  --light-text: #fff !important;
  --grid-spacing-vertical: 1rem !important;
  --card-bg-color: #bfd2e3 !important;
}
