@import 'pikoTheme';
@import 'nav';
@import 'variables';
@import 'about';
@import 'footer';

h1 {
  font-size: 1.9rem !important; /* Force ARCTIC title on one line */
}

.light-text * {
  color: var(--light-text);
}

.text-muted {
  color: var(--muted-color) !important;
}

.text-small {
  font-size: 0.8rem !important;
}

.no-hover-effect {
  transition: none !important;
  animation: none !important;
  transform: none !important;
}

.underlay {
  background-color: rgba(0, 0, 0, 0.45);
  padding: 1rem;
  border-radius: 8px;
  margin-top: 1rem;
  color: white;
}

.image-credit {
  font-size: 0.8rem;
  color: var(--muted-color);
  text-align: end;
  padding: 1rem;
}

@media (min-width: 992px) {
  .grid-post {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}

.grid {
  margin-bottom: 3rem !important;

  &.home {
    gap: 2rem;
  }

  &.about {
    gap: 2em;
  }
}

.grid-wrapper.about {
  margin-bottom: 5rem;
}

.grid-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100%;
}

.grid-card.home {
  align-items: start;
  gap: 1rem;
  width: 100%;
  background-color: var(--small-card-background-color);
  color: var(--small-card-text-color) !important;

  .title {
    margin-bottom: 0;
    color: var(--small-card-text-color) !important;
  }

  p {
    text-align: start;
    margin-bottom: 0;
    color: var(--small-card-text-color) !important;
  }
}

.grid-card.about {
  align-items: start;
  background-color: var(--small-card-background-color);
  color: var(--small-card-text-color) !important;
  
  .feather-icon {
    margin-bottom: 1rem !important;
    margin-top: 1rem !important;
  }

  .title {
    text-align: start;
    font-weight: 500;
    color: var(--small-card-text-color) !important;
  }
}

.grid-card.partner {
  padding: 0 !important;
  .partner-hgroup {
    width: 100%;
    background-color: var(--partner-card-header-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    min-height: 35%;
    padding: calc(var(--spacing) * 1.2) var(--block-spacing-horizontal);
    color: var(--hgroup-text-color);
    margin-bottom: 0;

    img {
      width: 250px;
      height: 150px;
      object-fit: contain; /* Ensures the entire image fits within the box */
      max-width: 100%;
      max-height: 100%;
    }

    .tagline {
      font-weight: 700;
      color: var(--hgroup-text-color);
    }
  }

  .partner-content {
    padding: calc(var(--spacing) * 1.2) var(--block-spacing-horizontal);
    p {
      color: var(--card-body-text-color) !important;
      text-decoration: none;
    }
    li {
      color: var(--card-body-text-color) !important;
      list-style: none;
      text-align: start;
    }
  }

  .partner-footer {
    margin-bottom: 1.5rem;
    margin-top: auto;
  }
}

.grid-card.fa {
  padding: 0 !important;
  .fa-hgroup {
    width: 100%;
    background-color: var(--card-header-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    min-height: 150px;
    padding: calc(var(--spacing) * 1.2) var(--block-spacing-horizontal);
    color: var(--hgroup-text-color);
    margin-bottom: 0.5rem;

    .fa-card-title {
      font-size: 1.35rem;
      font-weight: 700;
      color: var(--hgroup-text-color);
    }
  }

  .fa-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: start;
    text-align: start;
    justify-content: space-between;
    height: 100%;
    padding: calc(var(--spacing) * 1.2) var(--block-spacing-horizontal);

    p,
    li {
      color: var(--card-body-text-color) !important;
    }

    li {
      list-style: disc;
    }
  }

  .fa-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
    background-color: var(--partner-card-header-color);
    padding: 1rem;
    justify-content: flex-end;
    align-items: center;
    color: var(--hgroup-text-color);
    min-height: 100px;

    img.partner-logo-sm {
      max-width: 150px;
      max-height: 50px;
      object-fit: contain;

      &:hover {
        animation: hover 0.3s ease;
        transform: scale3d(1.05, 1.05, 1.05);
      }
    }
  }
}

#gallery__home {
  display: flex; /* Use flexbox for alignment */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100%; /* Ensure the container takes up the full height */
  text-align: center; /* Ensure inline elements like text are also centered */

  img {
    max-width: 100%; /* Ensure the image doesn't overflow */
    height: auto; /* Maintain aspect ratio */
    object-fit: contain; /* Ensure the image fits nicely within the container */
  }
}