{{ define "main" }}

<section
  class="hero"
  style="background-image:linear-gradient(rgba(20,30,38, 0.8), rgba(24,44,54, 0.7)),
  url('{{ with .Resources.GetMatch "*bgImage*" }}{{ .RelPermalink }}{{ end }}');"
>
  <header class="container">
    <hgroup class="light-text">
      <h1>{{ .Title }}</h1>
      <br />
      <p>{{ .Description }}</p>
    </hgroup>
  </header>
  {{ if .Params.heroBackgroundImageCredit }}
    <p class="image-credit">Photo by: {{ .Params.heroBackgroundImageCredit }}</p>
  {{ end }}
</section>

{{- $currentPage := . }}
<div class="container">
  <div class="grid grid-post">
    {{- $pages := union .RegularPages .Sections }}
    {{- $paginator := .Paginate $pages }}
    {{ range $paginator.Pages }}
      <!-- Skip pages where showInList is explicitly false -->
      {{ if eq .Params.showInList false }}
        {{ continue }}
      {{ end }}

      <article class="grid-card partner no-hover-effect">
        <hgroup class="partner-hgroup">
          <!-- Display the logo from leaf bundle -->
          {{ with .Resources.GetMatch "*logo.*" }}
            <img src="{{ .RelPermalink }}" alt="Logo for {{ $.Params.name }}">
          {{ end }}
          <h5 hidden>{{ .Title }}</h5>
          <i class="tagline">{{- .Params.Tagline -}}</i>
        </hgroup>
        <div class="partner-content">
          {{- .Content }}
        </div>
        <div class="partner-footer">
          <a
            href="{{ .Params.websiteUrl }}"
            target="_blank"
            role="button"
            class="btn btn-primary"
            title="Visit {{ .Title }}"
          >Visit Website</a>
        </div>
      </article>
    {{ end }}
  </div>
</div>
{{ end }}