{{ define "main" }}

<section
  class="hero"
  style="background-image:linear-gradient(rgba(20,30,38, 0.8), rgba(24,44,54, 0.7)),
url('{{.Params.HeroBackgroundImage | relURL }}');"
>
  <header class="container">
    <hgroup class="light-text">
      <h1>{{ .Title }}</h1>
      <br />
      <p>{{ .Description }}</p>
    </hgroup>
  </header>
</section>

{{- $currentPage := . }}
<div class="container">
  <div class="grid grid-post">
    {{- $pages := where (union .RegularPages .Sections)
    ".Params.includePartnersPage" "ne" false }} {{- $paginator := .Paginate
    $pages }} {{ range $paginator.Pages }}
    <a
      href="{{ .Params.websiteUrl }}"
      target="_blank"
      title="{{ .Title }}"
    >
      <article class="grid-card partner">
        <hgroup class="partner-h-group">
          <img
            class="partner-logos"
            src="{{.Params.Logo | absURL}}"
          />
          <h5 hidden>{{ .Title }}</h5>
          <i class="tagline">{{- .Params.Tagline -}}</i>
        </hgroup>
        <div class="partner-content">
          {{- .Content }}
        </div>
      </article>
    </a>
    {{ end }}
  </div>
</div>
{{ end }}
