<div class="footer-flexbox">
  {{ with .Site.GetPage "section" "partners" }} {{ range .Pages }} {{ if eq
  .Params.showInFooter true }}
  <div class="partner-item-sm">
    <a
      href="{{ .Params.websiteUrl }}"
      target="_blank"
      title="{{ .Title }}"
    >
      {{ with .Resources.Get .Params.logo }}
      <img
        src="{{ .RelPermalink }}"
        alt="Logo for {{ .Title }}"
      />
      {{ else }}
      <p>No logo available for {{ .Title }}</p>
      {{ end }}
    </a>
  </div>
  {{ end }} {{ end }} {{ end }}
</div>
