<section
  class="hero"
  style="background-image: linear-gradient(rgba(20,30,38, 0.8), rgba(24,44,54, 0.7)),
    url('{{ with .Resources.Get .Params.heroBackgroundImage }}{{ .RelPermalink }}{{ end }}');"
>
  <header class="container">
    <hgroup class="light-text">
      <h1>{{.Params.title}}</h1>
      <br />
      <h2>{{.Params.description}}</h2>
    </hgroup>
  </header>
  {{ if .Params.heroBackgroundImageCredit }}
    <p class="image-credit">Photo by: {{ .Params.heroBackgroundImageCredit }}</p>
  {{ end }}
</section>