{{ define "main" }}

<!-- Hero Section -->
<section class="hero" style="background-image:linear-gradient(rgba(20,30,38, 0.9), rgba(24,44,54, 0.8)),
url('{{.Params.heroBackgroundImage}}'); ">
  <header class="container">
    <hgroup class="light-text">
      <img src="{{.Params.heroLogo}}"></img>
      <h1>{{.Params.heroUpperTitle}}</h1>
      <h1>{{.Params.heroTitle}}</h1>
      <p>{{ .Content }}</p>
    </hgroup>
    <div>
      <a
        class="hero-buttons"
        href="{{ .Params.heroCTAPrimaryUrl | relURL  }}"
        role="button"
        >{{.Params.heroCTAPrimaryText}}</a
      >
      <a
        href="{{ .Params.heroCTASecondaryUrl | relURL  }}"
        role="button"
        class="contrast outline"
        >{{.Params.heroCTASecondaryText}}</a
      >
    </div>
  </header>
</section>

<!-- Map Section -->
<section>
  <div class="container">
    <a href="#">
      <h2 class="h2-link">
        Need Title (?) <b><i data-feather="arrow-right-circle"></i></b>
      </h2>
    </a>
    <div class="grid">
      <!--Col 1-->
      <div>
        <p>{{ .Params.MapContentP1}}</p>
        <p>{{ .Params.MapContentP2}}</p>
      </div>
      <!--Col 2-->
      <div>
        <img src="{{ .Params.StaticMapImage | relURL }}" alt="Static Map Placeholder Image">
      </div>
    </div>
  </div>
</section>

{{ end }}
