{{ define "main" }}

<!-- Hero Section -->
<section class="hero" style="background-image:linear-gradient(rgba(20,30,38, 0.8), rgba(24,44,54, 0.7)),
url('{{.Params.heroBackgroundImage}}'); ">
  <header class="container">
    <hgroup class="light-text">
      <img src="{{.Params.heroLogo}}"></img>
      <h1>{{.Params.heroUpperTitle}}</h1>
      <h1>{{.Params.heroTitle}}</h1>
      <p>{{ .Content }}</p>
    </hgroup>
    <div>
      <a
        class="hero-buttons"
        href="{{ .Params.heroCTAPrimaryUrl | relURL  }}"
        role="button"
        >{{.Params.heroCTAPrimaryText}}</a
      >
      <a
        href="{{ .Params.heroCTASecondaryUrl | relURL  }}"
        role="button"
        class="contrast outline"
        >{{.Params.heroCTASecondaryText}}</a
      >
    </div>
  </header>
</section>

<section>
  <div class="container">
    <h2>Building Capacity for Innovation</h2>
    <div class="grid">
      <!--Col 1-->
      <p>{{ .Params.MapContentP1}}</p>
      <!--Col 2-->
      <div id="gallery__home">
        <!-- Lightbox trigger for PhotoSwipe -->
        <a class="pswp-gallery__item"
           href="{{ .Params.StaticMapImage | relURL }}">
          <img src="{{ .Params.StaticMapImage | relURL }}" alt="Static Map Placeholder Image">
        </a>
      </div>
    </div>
  </div>
</section>

{{ end }}