{{ define "main" }}
<section class="hero" style="background-image:linear-gradient(rgba(20,30,38, 0.9), rgba(24,44,54, 0.8)),
url('{{.Params.heroBackgroundImage}}'); ">
  <header class="container">
    <hgroup class="light-text">
      <img src="{{.Params.heroLogo}}"></img>
      <h1>{{.Params.heroUpperTitle}}</h1>
      <h1>{{.Params.heroTitle}}</h1>
      <p>{{ .Content }}</p>
    </hgroup>
    <div>
      <a
        class="hero-buttons"
        href="{{ .Params.heroCTAPrimaryUrl | relURL  }}"
        role="button"
        >{{.Params.heroCTAPrimaryText}}</a
      >
      <a
        href="{{ .Params.heroCTASecondaryUrl | relURL  }}"
        role="button"
        class="contrast outline"
        >{{.Params.heroCTASecondaryText}}</a
      >
    </div>
  </header>
</section>

<section>
  <div class="container">
    <a href="#">
      <h2 class="h2-link">
        Map Section <b><i data-feather="arrow-right-circle"></i></b>
      </h2>
    </a>
    <div class="grid">
      <div class="container">
        <p>{{ .Params.aboutContent}}</p>
        <p>{{ .Params.aboutContent}}</p>
      </div>
      <div class="container" style="text-align: right;">
        {{- partial "map.html" . -}}
      </div>
    </div>
  </div>
</section>

{{ end }}
